h1 {
    color: brown;
    padding-left: 30px;
}
.header{
    background-color: #aeaded;
    display:flex;

}
.p1{
    margin-right:30px;
}
.p1 a{
    margin-left:20px;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

a:link{
    color: yellow;
}

a:visited{
    color: pink;
}